#ifndef POKEPLATINUM_GENERATED_SPECIES_ICON_PALETTES_H
#define POKEPLATINUM_GENERATED_SPECIES_ICON_PALETTES_H

#include "constants/species.h"

enum FormIconIndex {
    ICON_EGG = SPECIES_EGG,
    ICON_MANAPHY_EGG,
    ICON_DEOXYS_ATTACK,
    ICON_DEOXYS_DEFENSE,
    ICON_DEOXYS_SPEED,
    ICON_UNOWN_A,
    ICON_UNOWN_B,
    ICON_UNOWN_C,
    ICON_UNOWN_D,
    ICON_UNOWN_E,
    ICON_UNOWN_F,
    ICON_UNOWN_G,
    ICON_UNOWN_H,
    ICON_UNOWN_I,
    ICON_UNOWN_J,
    ICON_UNOWN_K,
    ICON_UNOWN_L,
    ICON_UNOWN_M,
    ICON_UNOWN_N,
    ICON_UNOWN_O,
    ICON_UNOWN_P,
    ICON_UNOWN_Q,
    ICON_UNOWN_R,
    ICON_UNOWN_S,
    ICON_UNOWN_T,
    ICON_UNOWN_U,
    ICON_UNOWN_V,
    ICON_UNOWN_W,
    ICON_UNOWN_X,
    ICON_UNOWN_Y,
    ICON_UNOWN_Z,
    ICON_UNOWN_EXC,
    ICON_UNOWN_QUE,
    ICON_BURMY_SANDY,
    ICON_BURMY_TRASH,
    ICON_WORMADAM_SANDY,
    ICON_WORMADAM_TRASH,
    ICON_SHELLOS_EAST_SEA,
    ICON_GASTRODON_EAST_SEA,
    ICON_GIRATINA_ORIGIN,
    ICON_SHAYMIN_SKY,
    ICON_ROTOM_HEAT,
    ICON_ROTOM_WASH,
    ICON_ROTOM_FROST,
    ICON_ROTOM_FAN,
    ICON_ROTOM_MOW,
    ICON_VENUSAUR_MEGA,
    ICON_CHARIZARD_MEGA_X,
    ICON_CHARIZARD_MEGA_Y,
    ICON_BLASTOISE_MEGA,
    ICON_BEEDRILL_MEGA,
    ICON_PIDGEOT_MEGA,
    ICON_RAICHU_MEGA_X,
    ICON_RAICHU_MEGA_Y,
    ICON_CLEFABLE_MEGA,
    ICON_ALAKAZAM_MEGA,
    ICON_VICTREEBEL_MEGA,
    ICON_SLOWBRO_MEGA,
    ICON_GENGAR_MEGA,
    ICON_KANGASKHAN_MEGA,
    ICON_STARMIE_MEGA,
    ICON_PINSIR_MEGA,
    ICON_GYARADOS_MEGA,
    ICON_AERODACTYL_MEGA,
    ICON_DRAGONITE_MEGA,
    ICON_MEWTWO_MEGA_X,
    ICON_MEWTWO_MEGA_Y,
    ICON_MEGANIUM_MEGA,
    ICON_FERALIGATR_MEGA,
    ICON_AMPHAROS_MEGA,
    ICON_STEELIX_MEGA,
    ICON_SCIZOR_MEGA,
    ICON_HERACROSS_MEGA,
    ICON_SKARMORY_MEGA,
    ICON_HOUNDOOM_MEGA,
    ICON_TYRANITAR_MEGA,
    ICON_SCEPTILE_MEGA,
    ICON_BLAZIKEN_MEGA,
    ICON_SWAMPERT_MEGA,
    ICON_GARDEVOIR_MEGA,
    ICON_SABLEYE_MEGA,
    ICON_MAWILE_MEGA,
    ICON_AGGRON_MEGA,
    ICON_MEDICHAM_MEGA,
    ICON_MANECTRIC_MEGA,
    ICON_SHARPEDO_MEGA,
    ICON_CAMERUPT_MEGA,
    ICON_ALTARIA_MEGA,
    ICON_BANETTE_MEGA,
    ICON_CHIMECHO_MEGA,
    ICON_ABSOL_MEGA,
    ICON_ABSOL_MEGA_Z,
    ICON_GLALIE_MEGA,
    ICON_SALAMENCE_MEGA,
    ICON_METAGROSS_MEGA,
    ICON_LATIAS_MEGA,
    ICON_LATIOS_MEGA,
    ICON_STARAPTOR_MEGA,
    ICON_LOPUNNY_MEGA,
    ICON_GARCHOMP_MEGA,
    ICON_GARCHOMP_MEGA_Z,
    ICON_LUCARIO_MEGA,
    ICON_LUCARIO_MEGA_Z,
    ICON_ABOMASNOW_MEGA,
    ICON_GALLADE_MEGA,
    ICON_FROSLASS_MEGA,
    ICON_HEATRAN_MEGA,
    ICON_DARKRAI_MEGA,
};

static const u8 sPokemonIconPaletteIndex[] = {
/* =========== MAGIC CONTENT MARKER =========== */
};

#endif // POKEPLATINUM_GENERATED_SPECIES_ICON_PALETTES_H
